################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/kaikkiolioohjelmointi/v15/Browse.VC.opendb
/.vs/kaikkiolioohjelmointi/v15/Browse.VC.db
